.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: all 0.3s ease; 
}

.custom-button:hover {
  background-color: var(--hover-bg-color, #333); 
}

.green-filled {
  --bg-color: #00FF00;
  --text-color: #fff;
  --border-color: #00FF00;
}

.green-border {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #00FF00;
}