.custom-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  background-color: var(--bg-color, #000);
  color: var(--text-color, #fff);
  border: 2px solid var(--border-color, #00FF00); 
}

.custom-button:hover {
  background-color: var(--hover-bg-color, #333); 
}

.green-filled {
  --bg-color: #00FF00;
  --text-color: #fff;
  --border-color: #00FF00;
}

.green-border {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #00FF00;
}